<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Property Id="FooApp_SITE_WEB_APP_NAME"
                Value="FooApp">
        <RegistrySearch Id="SiteNameValue"
                        Type="raw"
                        Root="HKLM"
                        Key="Software\Quantum Art\Q-Publishing"
                        Name="SiteName">
        </RegistrySearch>
      </Property>
      <Property Id="FooApp_SITE_APP_POOL_NAME"
                Value="FooApp">
        <RegistrySearch Id="SiteWebAppPoolValue"
                        Type="raw"
                        Root="HKLM"
                        Key="Software\Quantum Art\Q-Publishing"
                        Name="SiteAppPool">
        </RegistrySearch>
      </Property>

      <Property Id="FooApp_SITE_IP"
                Value="*">
        <RegistrySearch Id="SiteIpValue"
                        Type="raw"
                        Root="HKLM"
                        Key="Software\Quantum Art\Q-Publishing"
                        Name="SiteIP">

        </RegistrySearch>
      </Property>

      <Property Id="FooApp_SITE_PORT"
                Value="89">
        <RegistrySearch Id="SitePortValue"
                        Type="raw"
                        Root="HKLM"
                        Key="Software\Quantum Art\Q-Publishing"
                        Name="SitePort">
        </RegistrySearch>
      </Property>

      <Property Id="FooApp_SITE_HEADER"
                Value="localhost">
        <RegistrySearch Id="SiteHostNameValue"
                        Type="raw"
                        Root="HKLM"
                        Key="Software\Quantum Art\Q-Publishing"
                        Name="SiteHostName">
        </RegistrySearch>
      </Property>

      <Dialog Id="SiteIisDlg"
              Width="370"
              Height="270"
              Title="!(loc.SiteIisDlgTitle)">
        <Control Id="tbSiteWebAppName"
                 Type="Edit"
                 Height="15"
                 Width="238"
                 X="122"
                 Y="49"
                 Property="FooApp_SITE_WEB_APP_NAME"
                 Text="[FooApp_SITE_WEB_APP_NAME]">
        </Control>
        <Control Id="tbSiteAppPoolName"
                 Type="Edit"
                 Height="15"
                 Width="237"
                 X="122"
                 Y="68"
                 Property="FooApp_SITE_APP_POOL_NAME"
                 Text="[FooApp_SITE_APP_POOL_NAME]"/>
        <Control Id="tbSiteIP" Type="Edit" Height="15" Width="122" X="122" Y="88"
                 Property="FooApp_SITE_IP"
                 Text="[FooApp_SITE_IP]"/>
        <Control Id="tbSitePort" Type="Edit" Height="15" Width="122" X="122" Y="107"
                 Property="FooApp_SITE_PORT"
                 Text="[FooApp_SITE_PORT]"/>
        <Control Id="tbSiteHeader" Type="Edit" Height="15" Width="122" X="122" Y="127"
                 Property="FooApp_SITE_HEADER"
                 Text="[FooApp_SITE_HEADER]"/>
        
        <Control Id="Back"
                Type="PushButton"
                X="168"
                Y="243"
                Width="56"
                Height="17"
                Text="!(loc.WixUIBack)"></Control>
        <Control Id="Next"
                 Type="PushButton"
                 X="236"
                 Y="243"
                 Width="56"
                 Height="17"
                 Default="yes"
                 Text="!(loc.WixUINext)"></Control>
        <Control Id="Cancel"
                 Type="PushButton"
                 X="304"
                 Y="243"
                 Width="56"
                 Height="17"
                 Cancel="yes"
                 Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog"
                   Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="lblSiteAppPoolName"
                 Type="Text"
                 Height="10"
                 Width="109"
                 X="9"
                 Y="68"
                 Text="!(loc.SiteAppPoolNameLabel)" />
        <Control Id="lblSiteWebAppName"
                 Type="Text"
                 Height="10"
                 Width="90"
                 X="9"
                 Y="49"
                 Text="!(loc.SiteWebAppNameLabel)" />
        <Control Id="BannerBitmap"
                 Type="Bitmap"
                 X="0"
                 Y="0"
                 Width="370"
                 Height="44"
                 TabSkip="no"
                 Text="!(loc.VerifyReadyDlgBannerBitmap)" />
        <Control Id="BannerLine"
                 Type="Line"
                 X="0"
                 Y="44"
                 Width="370"
                 Height="2" />
        <Control Id="BottomLine"
                 Type="Line"
                 X="0"
                 Y="234"
                 Width="370"
                 Height="2" />
        <Control Id="InstallTitle"
                 Type="Text"
                 X="15"
                 Y="15"
                 Width="300"
                 Height="15"
                 Transparent="yes"
                 NoPrefix="yes"
                 Hidden="no"
                 Text="!(loc.SiteIisDlgTitle)">
        </Control>
        <Control Id="label3" Type="Text" Height="10" Width="98" X="9" Y="129" Text="!(loc.SiteAppHeaderLabel)" />
        <Control Id="label2" Type="Text" Height="10" Width="86" X="9" Y="110" Text="!(loc.SiteAppPortLabel)" />
        <Control Id="label1" Type="Text" Height="10" Width="80" X="9" Y="90" Text="!(loc.SiteAppIPLabel)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>