span.dynamic,
a.dynamic {
  border-bottom: 1px dashed rgba(40,40,40,.33);
  color: #282828;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

a.link__black,
a.link__black:visited {
  color: #282828;
}

span.link__connected,
a.link__connected,
a.link__connected:visited {
  color: #007300;
  border-bottom: 1px dashed rgba(0,115,0,.45);
}

span.link__yellow,
a.link__allow,
a.link__allow:visited {
  color: #787878;
  border-bottom: 1px dashed rgba(40,40,40,.33);
}

span.link__black,
a.link__black {
  color: #282828;
}
