.login-form_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.clearfix:after {
    content: '';
    width: 100%;
    clear: both;
    display: table;
}

.social__button_left {
    float: left;
}

.checkbox_left {
    float: left;
}