* {
  box-sizing: border-box;
}

.vendor-shpd-home-catalog {
    background: #eeeae5;
}

.vendor-shpd-home-catalog__wrap {
  position: relative;
  width: 1000px;
  max-width: 100%;
  margin: auto;
  padding-top: 69px;
}

.vendor-shpd-home-catalog__title {
  font-size: 50px;
  font-family: 'Officina Serif';
  font-weight: 400;
  text-align: center;
}

.vendor-shpd-home-catalog__benefit {
  font-size: 17px;
  font-family: 'Officina Serif';
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 28px;
  color: #282828;
}

.vendor-shpd-home-catalog__note {
  font-family: 'Officina Serif';
  font-size: 15px;
  background: #fff6ce;
  width: 498px;
  line-height: 1.2;
  margin:auto;
  padding: 24px 54px 42px;
}

.vendor-shpd-home-catalog__note-text {
  
}

.vendor-shpd-home-catalog__note-link-wrap {
  margin-top: 19px;
}

.vendor-shpd-home-catalog__note-link,
a.vendor-shpd-home-catalog__note-link {
  border-bottom: 1px solid rgba(40,40,40,.33);
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .vendor-shpd-home-catalog__wrap {
    padding-top: 25px;
  }

  .vendor-shpd-home-catalog__title {
    font-size: 30px;
    line-height: 1;
  }

  .vendor-shpd-home-catalog__benefit {
    font-size: 13px;
    font-family: inherit;
  }

  .vendor-shpd-home-catalog__note {
    font-size: 13px;
    font-family: inherit;
  }
}