.lk-dynamic {
  position: relative;
}

.lk-dynamic-link.lk-dynamic-link {
  border-bottom: 1px dashed rgba(40,40,40,.33);
}

.lk-dynamic-arrow {
  position: static;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 8px;
  transform: rotate(45deg) translateY(5%) scale(.75);
}

.lk-dynamic-arrow--opener {
  transform: rotate(135deg) translateY(-50%) scale(.75);
  transition: all 200ms ease-in-out;
  margin-left: 10px;
}

.lk-dynamic-arrow--opener-active {
  transform: rotate(-45deg) translateY(-50%) scale(.75);
  margin-bottom: -6px;
}

